table {
    border: 1px solid rgba(234, 16, 212, 0.773);
    margin: auto;
    margin-top: 20px;
    width: 65%;
    font: 14px Arial, sans-serif; color: #0c0c0c;
    border-collapse: collapse;
}
th {
    background-color: rgb(54, 209, 233);
}

tr {
    height: 40px;
}

td {
        background-color: blueviolet;
        font: 14px sans-serif; 
        color: white;
}