th {
  background-color: burlywood;
  border-color: rgb(0, 0, 14);
}

td {
  background-color: rgb(255, 255, 255);
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 65%;
    margin-top: 20px;
    font: 14px Arial, sans-serif; color: #000000;
}

body {
  height: 70px;
  text-align: center;

}
table th, td {
  padding: 10.5px 1px;
}